


.navbar{
   display: flex;
   justify-content: center;
   width: 100%;
   flex-wrap: wrap;
}

.button{
    margin: 1rem;
    font-family: var(--Inconsolata);
    color: var(--title);
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    
}

@media (max-width: 500px){
    .navbar{
        flex-direction: column;
    }
}