.sectionTitle{
    color: var(--title);
    background-color: var(--text-background-color);
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
}
.formContainer{
    background-color: var(--section-window);
    border-radius: 10px;
}
.list{
    list-style-type: none;
    padding: 1em;
    text-align: left;
}
.signal{
    font-size: .8rem;
}
.inputBtn{
    cursor: pointer;
}
.inputBtn:hover{
    transition: .25s;
    color: rgb(68, 55, 133)
}
.inputBtn:hover > .signal{
    transition: .25s ease;
    color: rgb(150, 160, 172);
}




