
:root{

    /*DEFINED GLOBAL COLORS*/

    /*FONT COLORS*/
    --title: rgb(26, 112, 146); 

    /*BACKGROUND COLORS*/
    --main-background-color: #001725;
    --text-background-color: rgb(1, 15, 26);

    /*FONT COLORS*/
    --button: rgb(42, 88, 119);
}
