
:root{

    /*DEFINED GLOBAL COLORS*/

    /*FONT COLORS*/
    --title: rgb(26, 122, 146); 

    /*BACKGROUND COLORS*/
    --main-background-color: #001e30;
    --text-background-color: rgb(2, 22, 37);

    /*FONT COLORS*/
    --button: rgb(42, 88, 119);
}
