.header{
    display: flex;
    justify-content: center;
    width: 100%;
}

.title{
    margin: 2rem;
    font-family: var(--Unica-One);
    color: var(--title);
    font-weight: 500;
    font-size: 1.75rem;
}

